[Unit]
After=default.target systemd-udev-trigger.service
Wants=systemd-udev-trigger.service

[Service]
ExecStart=/usr/sbin/vizionpanel.sh
StandardOutput=journal+console

[Install]
WantedBy=default.target